

{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/recommendations.css' %}">
  </head>
 
 <body>
 <div class="background-image" style="background-image: url('static/images/bottles-on-the-shelves.jpg')">
</div>
<!--Nav Bar starts-->
 <nav id="navbar" class="navbar navbar-toggleable-md navbar-light bg-success pb-3 text-white">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-center text-white" href="#"><a href="http://fontmeme.com/tunnel-vision-kodak-black-font/"><img src="http://fontmeme.com/permalink/170423/f79d14e80170470e7828d373b1b2f757.png"</a>


  <div class="collapse navbar-collapse" id="navbarNav">


    <ul class="navbar-nav">


      <li class="nav-item active">


        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>


      </li>


      <li class="nav-item">


        <a class="nav-link" href="#">Features</a>


      </li>


      <li class="nav-item">


        <a class="nav-link" href="#">Pricing</a>


      </li>


      <li class="nav-item">


        <a class="nav-link disabled" href="#">Disabled</a>


      </li>


    </ul>


  </div>


</nav>
<!--Nav Bar ends-->
    <div class="container">
{#        HEADING    #}
        <div class="row">
            <h1 class="display-5 mx-auto p-5"><a href="http://fontmeme.com/tunnel-vision-kodak-black-font/"><img src="http://fontmeme.com/permalink/170505/f17d6050f61a12bdbec80ae748ebba0c.png" alt="tunnel-vision-kodak-black-font" border="0"></a></h1>
        </div>
{#        cocktails start    #}
        <div class="row">
            <div class="card-group mx-auto" id="ctcards">

            </div>


        </div>

    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        var MEDIA_URL = "{{MEDIA_URL}}";
    </script>
    <script type="text/javascript" src="{% static 'js/recommendations.js' %}"></script>
  </body>
</html>
